{{> "courses_banner"}}
<div class="pt-lg-8 pb-lg-16 pt-8 pb-12">
  <div class="pt-5 pb-3 border-bottom px-lg-5 container">
    <div class="row">
      <div class="col-lg-3">
        <div class="card">
          <div class="profile-card">

            <div class="profile-header">

              <div class="cover-image">
                <img
                  src="https://cdn.pixabay.com/photo/2019/10/19/14/16/away-4561518_960_720.jpg"
                  class="img img-fluid"
                />
              </div>
              <div class="profile-header-container">
                <div class="profile-header-img">
                  <img
                    class="img-circle"
                    src="https://media-exp1.licdn.com/dms/image/C4D03AQHpvqkYUH5NXw/profile-displayphoto-shrink_100_100/0/1516555852966?e=1639008000&v=beta&t=IqYPO9zcJkmocseb9Ch2tjswghE3QcwtireFdwhX38E"
                  />
                  <!-- badge -->
                  <div class="rank-label-container">
                    <span class="label label-default rank-label">5 posts</span>
                  </div>
                </div>
              </div>
            </div>

            <div class="profile-content mt-4">
              <ul class="profile-info-list">
                <a href="" class="profile-info-list-item"><i
                    class="mdi mdi-eye"
                  ></i>Live Class</a>
                <a href="" class="profile-info-list-item selected"><i
                    class="mdi mdi-eye"
                  ></i>Course Discussion</a>
                <a href="" class="profile-info-list-item"><i
                    class="mdi mdi-eye"
                  ></i>Course Materials</a>
                <a href="" class="profile-info-list-item"><i
                    class="mdi mdi-bookmark-check"
                  ></i>
                  Students</a>
                <a href="" class="profile-info-list-item"><i
                    class="mdi mdi-movie"
                  ></i>Suggested Reading</a>
                <a href="" class="profile-info-list-item"><i
                    class="mdi mdi-account"
                  ></i>Playlist</a>

              </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-9">
        {{#if isDiscussion}}
          {{> courses_discussion}}
        {{else if isLiveDiscussion}}
          {{> courses_live_discussion}}
        {{else if isLiveVideoDiscussion}}
          {{> courses_live_video_discussion}}
        {{else}}
          {{> courses_discussion}}
        {{/if}}
      </div>
    </div>
  </div>
</div>