<div
  id="carouselExampleCaptions"
  class="carousel slide"
  data-bs-ride="carousel"
>
  <div class="carousel-indicators">
    <button
      type="button"
      data-bs-target="#carouselExampleCaptions"
      data-bs-slide-to="0"
      class="active"
      aria-current="true"
      aria-label="Slide 1"
    ></button>
    <button
      type="button"
      data-bs-target="#carouselExampleCaptions"
      data-bs-slide-to="1"
      aria-label="Slide 2"
    ></button>
    <button
      type="button"
      data-bs-target="#carouselExampleCaptions"
      data-bs-slide-to="2"
      aria-label="Slide 3"
    ></button>
  </div>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img
        src="/img/alexis-brown-omeaHbEFlN4-unsplash.jpg"
        class="d-block w-100"
        alt="..."
      />
    </div>
    <div class="carousel-item">
      <img
        src="/img/madeleine-ragsdale-igwr_pgfyZU-unsplash.jpg"
        class="d-block w-100"
        alt="..."
      />
    </div>
    <div class="carousel-item">
      <img
        src="/img/kelly-sikkema-WN1o-_0fPDo-unsplash.jpg"
        class="d-block w-100"
        alt="..."
      />
    </div>
  </div>
  <button
    class="carousel-control-prev"
    type="button"
    data-bs-target="#carouselExampleCaptions"
    data-bs-slide="prev"
  >
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button
    class="carousel-control-next"
    type="button"
    data-bs-target="#carouselExampleCaptions"
    data-bs-slide="next"
  >
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
  <div id="home-search-container">
    <div id="home-search-background" class="bg-light"></div>
    <div id="home-search">
      <h1>Happy<span>In</span>Hope Bible Study Network</h1>
      <p><em>“Be happy in your hope, stand your ground when you’re in trouble,
          and devote yourselves to prayer.” — Romans 12:12</em></p>
      <h3>Search for a group:</h3>
      <div class="input-group mb-3">
        <span class="input-group-text" id="basic-addon1"><i
            class="fa fa-search"
          ></i></span>
        <input
          type="text"
          class="form-control"
          placeholder="Username"
          aria-label="Username"
          aria-describedby="basic-addon1"
        />
      </div>
    </div>
  </div>
</div>

<section class="py-6 bg-gray-100"><div class="container"><div
      class="text-center pb-lg-4 pt-lg-4"
    ><p class="subtitle text-secondary">Providing Online Space for Studying The
        Bible Together</p><h2 class="mb-5">Finding a group is easy</h2></div><div
      class="row"
    ><div class="mb-3 mb-lg-0 text-center col-lg-4"><div
          class="px-0 px-lg-3"
        ><div class="img-rounded bg-primary-light mb-3"><img
              src="/img/joshua-eckstein-nkUioaswtvM-unsplash.jpg"
            /></div><h3 class="h5">By Church</h3><p class="text-muted">Find in
            person as well as online study groups by church.</p></div></div><div
        class="mb-3 mb-lg-0 text-center col-lg-4"
      ><div class="px-0 px-lg-3"><div
            class="img-rounded bg-primary-light mb-3"
          ><img src="/img/ben-white-LJQEDQAmAnI-unsplash.jpg" /></div><h3
            class="h5"
          >By Topic</h3><p class="text-muted">Find groups or classes based on a
            topic or Biblical book.</p></div></div><div
        class="mb-3 mb-lg-0 text-center col-lg-4"
      ><div class="px-0 px-lg-3"><div
            class="img-rounded bg-primary-light mb-3"
          ><img src="/img/alex-grodkiewicz-VB7ew3d3eiI-unsplash.jpg" /></div><h3
            class="h5"
          >By Location</h3><p class="text-muted">Find a Study <Group Near You</p></div></div></div></div></section>

<section class="py-6"><div class="container"><div class="pb-lg-4 pt-lg-4"><p
        class="subtitle text-secondary"
      >Classes</p>
      <h2 class="mb-3">Recently Created</h2>
      <div class="row mb-4">
        <div class="col-lg-3">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">Book of James</h5>
              <p class="card-text">Some quick example text to build on the card
                title and make up the bulk of the card's content.</p>
              <a href="#" class="btn btn-primary mb-4">Go somewhere</a>
              <div class="entity-lockup">
                <img src="https://randomuser.me/api/portraits/women/95.jpg" />
                <p class="text-muted">Led by Pastor Maria from Our Lady Queen of
                  Peace</p>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-3">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">Book of James</h5>
              <p class="card-text">Some quick example text to build on the card
                title and make up the bulk of the card's content.</p>
              <a href="#" class="btn btn-primary mb-4">Go somewhere</a>
              <div class="entity-lockup">
                <img src="https://randomuser.me/api/portraits/women/95.jpg" />
                <p class="text-muted">Led by Pastor Maria from Our Lady Queen of
                  Peace</p>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-3">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">Book of James</h5>
              <p class="card-text">Some quick example text to build on the card
                title and make up the bulk of the card's content.</p>
              <a href="#" class="btn btn-primary mb-4">Go somewhere</a>
              <div class="entity-lockup">
                <img src="https://randomuser.me/api/portraits/women/95.jpg" />
                <p class="text-muted">Led by Pastor Maria from Our Lady Queen of
                  Peace</p>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-3">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">Book of James</h5>
              <p class="card-text">Some quick example text to build on the card
                title and make up the bulk of the card's content.</p>
              <a href="#" class="btn btn-primary mb-4">Go somewhere</a>
              <div class="entity-lockup">
                <img src="https://randomuser.me/api/portraits/women/95.jpg" />
                <p class="text-muted">Led by Pastor Maria from Our Lady Queen of
                  Peace</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <p class="subtitle text-secondary">Groups</p>
      <h2 class="mb-5">Recently Created</h2>
      <div class="row mb-4">
        <div class="col-lg-3">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">Book of James</h5>
              <p class="card-text">Some quick example text to build on the card
                title and make up the bulk of the card's content.</p>
              <a href="#" class="btn btn-primary mb-4">Go somewhere</a>
              <div class="entity-lockup">
                <img src="https://randomuser.me/api/portraits/women/95.jpg" />
                <p class="text-muted">Led by Pastor Maria from Our Lady Queen of
                  Peace</p>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-3">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">Book of James</h5>
              <p class="card-text">Some quick example text to build on the card
                title and make up the bulk of the card's content.</p>
              <a href="#" class="btn btn-primary mb-4">Go somewhere</a>
              <div class="entity-lockup">
                <img src="https://randomuser.me/api/portraits/women/95.jpg" />
                <p class="text-muted">Led by Pastor Maria from Our Lady Queen of
                  Peace</p>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-3">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">Book of James</h5>
              <p class="card-text">Some quick example text to build on the card
                title and make up the bulk of the card's content.</p>
              <a href="#" class="btn btn-primary mb-4">Go somewhere</a>
              <div class="entity-lockup">
                <img src="https://randomuser.me/api/portraits/women/95.jpg" />
                <p class="text-muted">Led by Pastor Maria from Our Lady Queen of
                  Peace</p>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-3">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">Book of James</h5>
              <p class="card-text">Some quick example text to build on the card
                title and make up the bulk of the card's content.</p>
              <a href="#" class="btn btn-primary mb-4">Go somewhere</a>
              <div class="entity-lockup">
                <img src="https://randomuser.me/api/portraits/women/95.jpg" />
                <p class="text-muted">Led by Pastor Maria from Our Lady Queen of
                  Peace</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <section class="py-6 pb-lg-4 bg-gray-100">
      <div class="container">
            <div class="pb-lg-4 pt-lg-4">
              <p class="subtitle text-secondary">Trending</p>
              <h2 class="mb-1">Popular Topics</h2>
            </div>
            <div class="row">
                <div class="col-lg-2">
                    <a class="topic-tag" href="#">Matthew 25</a>
                </div>
                <div class="col-lg-2">
                    <a class="topic-tag" href="#">Matthew 25</a>
                </div>
                <div class="col-lg-2">
                    <a class="topic-tag" href="#">Matthew 25</a>
                </div>
                <div class="col-lg-2">
                    <a class="topic-tag" href="#">Matthew 25</a>
                </div>
                <div class="col-lg-2">
                    <a class="topic-tag" href="#">Matthew 25</a>
                </div>
                <div class="col-lg-2">
                    <a class="topic-tag" href="#">Matthew 25</a>
                </div>
            </div>
        </div>
  </section>

  <section class="py-6">
    <div class="container"><div class="pb-lg-4 pt-lg-4"><p
        class="subtitle text-secondary"
      >Just a thought or two... By Father Tim Hickey, Pastor, Our Lady Queen of Peace</p>
      <h2 class="mb-3">Oct 3, 2021</h2> <div class="text-muted mb-4">In today’s Gospel, Jesus sets aside the law of Moses regarding Jewish divorce law. Jesus makes it clear that while “the law” allowed a man, in a rather simple manner, to divorce his wife and kick her out of his house, he found it unacceptable. In the first century Middle Eastern world women were basically the property of men.

They had little or no identity aside from that which they had through their connection to male members of their family. They were either, a man’s daughter, sister, mother, or wife. Women rarely had an identity of their own which was not rooted in some relationship to a male.

When a man divorced his wife, she lost her identity within the community. When she had married her husband her primary identity came through him, no longer through her birth family. By the action of her husband, the divorce would have cut her off from the community...she would have been seen as bringing shame on her family of origin and therefore likely not welcome in their home nor in the home of another man because she would have been shamed herself.

For all practical purposes the woman (and often her children) was turned out into the streets to fend for herself and for her children. It is this reality that Jesus found unacceptable. In this case the woman and her children became the “the very least of the society”, those for whom Jesus claimed the rest of the society was responsible.

Jesus’ concern is about the woman and the children. Mosaic law allowed for divorce but without concern for what happened to the woman. There was no court that divided up the property of the couple in an equitable manner, it all went to the man. The man was the owner of all the property and objects contained in the home. Moses didn’t take the shame that would befall the woman into consideration when he wrote the law concerning divorce. Jesus said that it was because of “the hardness of their hearts.”

How do I respond to the needs of the “rejected ones” and those “turned out” by society? And for us men...how do I view women’s place in society, in the church and in my personal relationships...is it in line with Jesus’ teachings?
​
Blessings,
Fr Tim </div>
<div class="comments-container">
    <div class="comments-heading mb-4">
        <p>10 comments</p>
    </div>
    <div class="mb-3">
  
  <textarea class="form-control mb-4" id="exampleFormControlTextarea1" rows="3" placeholder="Join The Discussion"></textarea>
  <div class="comment-container mb-3">
      <div class="entity-lockup">
                <img src="https://randomuser.me/api/portraits/women/95.jpg" />
                <p class="text-muted">Pastor Maria from Our Lady Queen of
                  Peace</p>
              </div>
        <p class="comment mt-2">Moses didn’t take the shame that would befall the woman into consideration when he wrote the law concerning divorce. Jesus said that it was because of “the hardness of their hearts.”</p>
  </div>

  <div class="comment-container mb-3">
      <div class="entity-lockup">
                <img src="https://randomuser.me/api/portraits/women/95.jpg" />
                <p class="text-muted">Pastor Maria from Our Lady Queen of
                  Peace</p>
              </div>
        <p class="comment mt-2">Moses didn’t take the shame that would befall the woman into consideration when he wrote the law concerning divorce. Jesus said that it was because of “the hardness of their hearts.”</p>
  </div>
</div>
</div>
</section>
</section>