body {
  font-family: "Roboto", sans-serif;
}

.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-bottom: 0.5rem;
  font-family: Poppins, sans-serif;
  font-weight: 700;
  line-height: 1.3;
}

p {
  margin-top: 0;
  margin-bottom: 1rem;
}

h1 span {
  color: #ffde59;
}

footer {
  color: white;
}

.bg-light {
  background-color: #5a3314 !important;
}

.background-secondary {
  background-color: #f1ecec !important;
}

.btn-primary:hover {
  color: #fff;
  background-color: #0b5ed7;
  border-color: #0a58ca;
}
.btn:hover {
  color: #212529;
}
a:hover {
  color: #0a58ca;
}
.mb-4 {
  margin-bottom: 1.5rem !important;
}

.btn-primary {
  color: #fff;
  background-color: #212529;
  border-color: #212529;
}

.btn-primary:hover {
  color: #fff;
  background-color: #3a3d41;
  border-color: #212529;
}

.bg-gray-100 {
  background: #f8f9fa !important;
  border-bottom: 1px solid #ebebec;
  border-top: 1px solid #ebebec;
}

.text-muted {
  color: #868e96 !important;
}

.navbar-light .navbar-nav .nav-link,
.navbar-light .navbar-nav .nav-link.active,
.navbar-light .navbar-nav .show > .nav-link {
  color: white;
}

#home-search-container {
  display: none;
}

.img-rounded img {
  width: 50%;
  border-radius: 100%;
}

.entity-lockup {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.entity-lockup img {
  width: 40px;
  height: 40px;
  border-radius: 100%;
  margin-right: 10px;
}

.entity-lockup p {
  line-height: 1.2;
  margin-bottom: 0;
}

.comment-container {
  border-bottom: 1px dashed #a0a0a0;
}

@media (min-width: 800px) {
  #home-search-container {
    position: absolute;
    transform: translate(-50%, -50%);
    left: 50%;
    top: 50%;
    z-index: 1;
    width: 70%;
    border-radius: 20px;
    min-height: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    box-sizing: border-box;
    padding: 2em;
    color: white;
  }

  #home-search-background {
    width: 100%;
    height: 100%;
    z-index: 1;
    position: absolute;
    opacity: 0.5;
    border-radius: 20px;
  }

  #home-search {
    position: relative;
    z-index: 2;
    width: 100%;
  }
}

.comments-heading {
  font-weight: bold;
  padding: 0;
  border-bottom: 1px solid #212529;
}

.label-heading,
.subtitle {
  text-transform: uppercase;
  color: #868e96;
}

.subtitle {
  margin-bottom: 0;
  letter-spacing: 0.2em;
  font-weight: 700;
}

.text-secondary {
  color: #e83e8c !important;
}

.topic-tag {
  border: 1px solid #d1d7dc;
  padding: 0.8rem 1.6rem;
  color: #1c1d1f;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 100%;
  text-decoration: none;
}

.mt--7 {
  margin-top: -6rem !important;
}

.card {
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border: 1px solid #e7eaed;
  border-radius: 0;
}
.card .card-description {
  margin-bottom: 0.875rem;
  font-weight: 400;
  color: #76838f;
}

.profile-header {
  height: 150px;
  width: 100%;
  position: relative;
}

.cover-image {
  height: 150px;
  width: 100%;
  overflow: hidden;
}

.user-image {
  position: absolute;
  height: 80px;
  width: 80px;
  border-radius: 50%;
  bottom: -50%;
  left: 50%;
  /* top: 50%; */
  transform: translate(-50%, -50%);
  z-index: 5;
}

.user-image img {
  height: 80px;
  width: 80px;
  border-radius: 50%;
  top: -40px;
  border: 5px solid #777;
}

.profile-card .profile-content {
  padding: 10px 20px 30px 20px;
}

.profile-card .profile-name {
  font-size: 1.2rem;
  color: #3249b9;
  font-weight: 600;
  text-align: center;
}

.profile-card .profile-designation {
  font-size: 13px;
  color: #777;
  text-align: center;
}

.profile-card .profile-description {
  padding: 10px;
  font-size: 13px;
  color: #777;
  margin: 5px 0px;
  background-color: #f1f2f3;
  border-radius: 5px;
}

.profile-card ul.profile-info-list {
  padding: 0;
  margin: 10px 0;
  list-style: none;
  font-size: 1rem;
  font-weight: 500;
  color: #777;
}

.profile-card ul.profile-info-list a {
  text-decoration: none;
  color: inherit;
}

.profile-card a.profile-info-list-item {
  margin: 10px 0;
  padding: 15px;
  background-color: #f1f2f3;
  display: block;
  -webkit-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.profile-card a.profile-info-list-item:hover,
.profile-card a.profile-info-list-item.selected {
  background-color: #9e9e9e;
  color: white;
  -webkit-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.profile-card a.profile-info-list-item i {
  padding: 10px;
}

ul.about {
  list-style: none;
  color: black;
  padding: 0;
}
li.about-items {
  margin: 10px;
  font-size: 0.9rem;
  /* font-family: sans-serif; */
  /* font-weight: 400; */
}

li.about-items i {
  color: #607d8b;
}

span.about-item-name {
  width: 100px;
  display: inline-flex;
  margin-left: 10px;
}

span.about-item-detail {
  display: inline-flex;
  width: calc(100% - 160px);
}
span.about-item-detail > button {
  margin-right: 10px;
}

.btn.btn-icon {
  width: 40px;
  height: 40px;
  padding: 0;
}
.btn.btn-rounded {
  border-radius: 50px;
}

a.about-item-edit {
  float: right;
}

.profile-header-container {
  position: absolute;
  bottom: -50%;
  left: 50%;
  transform: translateX(-50%);
  margin: 0 auto;
  text-align: center;
}

.profile-header-img {
  padding: 54px;
}

.profile-header-img > img.img-circle {
  width: 120px;
  height: 120px;
  border: 2px solid #5a3314;
  border-radius: 100%;
}

/**
* Ranking component
*/
.rank-label-container {
  margin-top: -19px;
  /* z-index: 1000; */
  text-align: center;
}

.label.label-default.rank-label {
  background-color: #5a3314;
  padding: 5px 10px 5px 10px;
  border-radius: 27px;
  color: white;
}
